extends ../base
include ../mixins/comment

block content 
    if video
        - const videoFile = video.videoFile
        - const id = video._id
        - const comments = video.comments
        - let views = video.views === 1 ? `${video.views} view` : `${video.views} views`;
        - let evalButton = button
        - const login = userId
        div 
            video(src=`/upload/video/${videoFile}`, controls, autoplay="autoplay")
            p 
            span=video.title
            br
            span=views
            p
            input(type="hidden", class="evalButton", value=`${evalButton}`)
            input(type="hidden", class="id", value=`${id}`)
            input(type="hidden", class="login", value=`${login}`)
            span(class="userLike")=video.userLike.length
            button(id="like")
                i(class="far fa-heart")
            button(id="hate")
                i(class="fas fa-heartbeat")
            form(method="POST", class="commentForm")
                input(type="text", placeholder="Comment", name="text", class="comment")
                p
            div(class="textContainer")
                if comments.length
                    each comment in comments
                        - const commentId = comment._id
                        form(method="POST", class="deleteForm")
                            input(type="hidden", value=`${commentId}`)
                            +comment(comment)
                else 
                    h2(class="notComment") There are no comments yet.
    else 
        h1 Sorry, video not found.

    block scripts 
        script(src="/scripts/comment.js") 
        script(src="/scripts/watchEvaluation.js") 