extends ../base
include ../mixins/comment

block content 
    if video
        - const videoFile = video.videoFile
        - const id = video._id
        - const comments = video.comments
        - let views = video.views === 1 ? `${video.views} view` : `${video.views} views`;
        div 
            video(src=`/upload/video/${videoFile}`, controls, autoplay="autoplay")
        p 
            span=video.title
            br
            span=views
        p 
            form(method="POST")
                input(type="text", placeholder="Comment", name="text", class="comment")
                p
            div(class="textContainer")
                if comments.length
                    each comment in comments
                        - const commentId = comment._id
                        form(method="POST", class="deleteForm")
                            input(type="hidden", name="delCommentId", value=`${commentId}`)
                            +comment(comment)
                else 
                    h2 There are no comments yet.
    else 
        h1 Sorry, video not found.

    block scripts 
        script(src="/scripts/comment.js") 