extends ../base
include ../mixins/videos

block content 
    h1 Watch Recode
    if videos
        each video in videos
            - let user = userId
            - let id = video._id
            - let thumbnail = video.thumbnail
            - views = video.views == 1 ? `${video.views} view` : `${video.views} views`;
            form(method="POST", class="form")
                if !video.delete
                    a(href=`/videos/watch/${id}`)
                        img(src=`/upload/thumbnail/${thumbnail}`)
                        br
                        span=video.title
                    span=" "
                    span(class="fas fa-heart")
                    span=" "
                    span(class="userLike")=video.userLike.length
                    br
                    span=views
                    +video(video) 
                    button(class="button") X
                    p
                    input(type="hidden", name="id", value=`${id}`)
                else
                    form(method="POST", class="form")
                        img(src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwcHBwcGBwcHBwcHBwoHBgcGBw8ICQcKIBEWFhURExMYHCggGBolJx8TITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0ODw0NDi0ZFRkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAMIBAwMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAEC/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8Aw4AUAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFQUAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAUAUABBUAAAAAAEAAAAAAAAAAAAAAAAAAAAAAVQGkAEAAAAQAAAAAAAQAAAAAAAAAAAAAFAAUAH/9k=")
                        span deleted
                        button(class="button") X
                        p
                        input(type="hidden", name="id", value=`${id}`)
    block scripts 
        script(src="/scripts/home.js") 