extends base
include mixins/videos

block content 
    block header 
    form(action="/search", method="GET")
        input(type="text", placeholder="Search", name="search")
    ul 
        if !login
            li 
                a(href="/users/login") login 
            li
                a(href="/users/sign") sign
        else 
            li 
                a(href="/users/logout") LogOut
            li 
                a(href="/videos/upload") Upload
            li 
                a(href="/videos/my-videos") My Videos
            li 
                a(href="/videos/watch-recode") Watch Recode
            li 
                a(href="/videos/like-playlist") Like Playlist
            li 
                a(href="/users/profile") Profile

    if videos
        each video in videos
            - let id = video._id
            - let thumbnail = video.thumbnail
            - views = video.views == 1 ? `${video.views} view` : `${video.views} views`;
            a(href=`/videos/watch/${id}`)
                img(src=`upload/thumbnail/${thumbnail}`)
                br
                span=video.title
            +video(video) 
    block scripts 
        script(src="/scripts/home.js") 